.top-line {
    width: 100%;
    height: 1px;
    background-color: #000; /* Cor da linha (pode ser qualquer cor desejada) */
    margin: 5px 0  ;
  }
  
  .button-line {
    width: 100%;
    height: 1px;
    background-color: #000; /* Cor da linha (pode ser qualquer cor desejada) */
    margin: 5px 0 20px 0  ;
  }

  .textinput{
    display: flex;
    align-items: start;
    flex-direction: column;
  }


.ajustFirstButton{
    display: flex;
    justify-content: start;
    .secondButton{
        margin-left: 5px;
    }
}

.ajustActionButton{
  margin-right: 5px;
}


.ajustLeftButton{
  margin-right: 5px
}